################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/WindowsGL/Debug/Mechattacktics.vshost.exe
